/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins:wght@300;400;500;700&display=swap');

/* css resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general styling */
:root {
  --primary-color: #66ced1;
  --primary-color-2: #40a3a7;
  --primary-color-3: #23898d;
  --light-color: #fff;
  --light-color-2: #fffafa;
  --dark-color: #222;
  --dark-color-2: #333;
  --grey-color: #ddd;
  --h1: 8rem;
  --h2: 4rem;
  --h3: 3rem;
  --normal: 1.6rem;
  --navbar-logo: 3rem;
  --copyright: 1.3rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--dark-color-2);
}

input,
textarea,
button {
  font-family: inherit;
  font-size: var(--normal);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
  text-transform: uppercase;
}

h3 {
  font-size: var(--h3);
}

p,
a {
  font-size: var(--normal);
}

/* utility classes */
.w-90 {
  width: 90%;
  margin: auto;
}

.btn {
  text-decoration: none;
  display: block;
}

.text-end {
  text-align: end;
}

/* home container styling */
.home {
  min-height: 100vh;
  background: linear-gradient(rgba(72, 194, 231, 0.5), rgba(0, 0, 0, 0.9)), url('../images/bg.png') no-repeat center/cover;
  overflow: hidden;
  position: relative;
}

.moving-cloud {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  animation: movingCloud infinite alternate 3.5s ease-in-out;
  z-index: -1;
}

@keyframes movingCloud {
  0% {
    transform: translate(10%, -10%);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* navbar styling */
.navbar {
  min-height: 10vh;
  display: flex;
  align-items: center;
}

.navbar > .w-90 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.navbar-brand {
  font-size: var(--navbar-logo);
  font-family: 'Oleo Script', cursive;
  color: var(--light-color);
  font-weight: bold;
}

.navbar-toggle-btn {
  background-color: transparent;
  border: 0;
  font-size: var(--h3);
  display: none;
  color: var(--light-color);
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  text-align: center;
}

.navbar-link {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: var(--light-color);
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out all;
}

.navbar-link:hover {
  border-bottom: 3px solid var(--light-color);
}

/* hero styling */
.hero > .w-90 {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.hero-heading {
  color: var(--light-color);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.hero-sub-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--light-color);
}

.hero-btn {
  border: 3px solid var(--primary-color);
  padding: 1rem 3rem;
  border-radius: 3rem;
  color: var(--primary-color);
  transition: 0.3s ease-in-out all;
}

.hero-btn:hover {
  border-color: var(--light-color);
  color: var(--light-color-2);
}

/* destination styling */
.destination {
  padding: 3rem 0;
}

.destination-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.destination-col {
  flex: 0 1 50%;
  padding: 1rem;
}

.destination-card {
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.destination-heading {
  margin-bottom: 2rem;
  text-align: center;
}

.destination-sub-heading {
  text-transform: uppercase;
  padding: 0.5rem;
}

.destination-body {
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  transition: 1.5s ease-in-out;
}

.destination-btn {
  border: 1px solid var(--light-color);
  border-radius: 3rem;
  color: var(--light-color);
  padding: 1rem 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
  transition: 0.3s ease-in-out all;
}

.destination-btn:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.destination-img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  display: block;
  transition: 1.5s ease-in-out;
}

.destination-body:hover img {
  transform: scale(1.2);
}

.destination-body:hover .overlay {
  display: block;
}

.destination-body:hover .destination-btn {
  display: block;
}

/* footer styling */

/* contact styling */
#main-footer {
  background-color: var(--primary-color-2);
}

.contact {
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem;
  gap: 2rem;
}

.contact-col-1 {
  flex: 1 1;
  color: var(--light-color);
}

.contact-heading {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.contact-col-2 {
  flex: 2 1;
}

.contact-form-flex {
  display: flex;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 0;
  border-radius: 0.3rem;
}

.contact-btn {
  display: inline-block;
  background-color: var(--dark-color);
  border: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--light-color-2);
  border-radius: 0.3rem;
  transition: 0.3s ease-in-out all;
}

.contact-btn:hover {
  background-color: var(--dark-color-2);
}

.copyright {
  padding: 2rem 1rem;
  font-size: var(--copyright);
  text-align: center;
  border-top: 1px solid var(--primary-color-3);
  color: var(--light-color);
}

/* breakpoints */
@media (max-width: 1130px) {
  @keyframes movingCloud {
    0% {
      transform: translate(30%, -30%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}

@media (max-width: 800px) {
  @keyframes movingCloud {
    0% {
      transform: translate(40%, -30%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}

@media (max-width: 768px) {
  :root {
    --h1: 5rem;
    --h2: 3rem;
    --h3: 2.5rem;
    --navbar-logo: 2rem;
    --copyright: 1.3rem;
  }

  .navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  }

  .navbar-toggle-btn {
    display: block;
  }

  .navbar .w-90 > .navbar-nav {
    flex-basis: 100%;
  }

  .navbar-menu {
    flex-direction: column;
    gap: 0;
    margin-top: 1rem;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 650px) {
  .destination-flex {
    flex-direction: column;
    gap: 0;
    justify-content: stretch;
  }

  .destination-col {
    flex: 1;
  }

  .destination-img {
    height: 40rem;
  }

  .contact {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  @keyframes movingCloud {
    0% {
      transform: translate(60%, -30%);
    }
  }
}

@media (max-width: 595px) {
  :root {
    --h1: 4rem;
  }
}

@media (max-width: 440px) {
  .destination-img {
    height: 30rem;
  }
}

@media (max-width: 400px) {
  @keyframes movingCloud {
    0% {
      transform: translate(80%, -30%);
    }
  }
}

@media (max-width: 375px) {
  .destination-img {
    height: 20rem;
  }
}
